.cabecalhoPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav{
    display: flex;
}

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-around;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}

.rodapePrincipal-contatoForm{
    width: 25%;
}

.rodapePrincipal-navMap-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px;
}

.conteudoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

.conteudoPrincipal-cursos-link{
    width: 23%;
}

.videoSobre .container {
    display: flex;
}

/*Parte Mobile*/

@media(max-width:768px) {
    .cabecalhoPrincipal-nav{
        flex-direction: column;
    }
    
    .cabecalhoPrincipal .container{
        display: flex;
        align-items: initial;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

    .conteudoPrincipal-cursos-link{
        width: 100%;
    }

    .conteudoPrincipal-cursos{
        flex-direction: column;        
    }

    .rodapePrincipal-navMap-list{
        height: auto;
    }

    .rodapePrincipal-patrocinadores .container{
        flex-direction: column;
        align-items: center;
        
    }
    .rodapePrincipal-patrocinadores-list{
        width: 100%;
        margin: 0;
        justify-content: space-around;
    }

    .rodapePrincipal-contatoForm{
        width: 100%;
    }

    .rodapePrincipal-contatoForm-fieldset{
       justify-content: center;
    }
    
    .cabecalhoPrincipal-nav-link-app{
        order: -1;
    }
}

